<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
</head>
<body>
    <h1>palkka</h1>
    <div id="div" display="flex" height="100%" width="100%">
    <form method="POST" action="/palkka">
        <label for="input_palkka">Syötä päiväpalkka, €:</label>
        <input type="number" id="input_palkka" name="palkka" required>
        <label for="input_overtime">Syötä ylityö, h:</label>
        <input type="number" id="input_overtime" name="overtime">
        <input type="date" id="date" name="date"><br>
        <label for="maa"> Maa</label>
            <select id='maa'name="country">
                <option value="fi">FI</option>
                <option value="se">SE</option>
                <option value="us">USA</option>
            </select><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>




</body>
</html>
